body {
        padding : 1%;
        margin: 1%;
}
table {
      border-collapse: collapse;
      text-align: center;
width: 600px;
    height:300px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 100%;
}
td {
    background: #E0FFFF; /* LightCyan */
    color: #808080; /* Gray */
    border: 2px solid #FFFFFF;
    text-align: left;
}
tr td:hover {
    opacity: 1.5;
    text-align: left;
    font-size: 120%;
}
